<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('View Trainee')"></head>

<body class="bg-light">
<div th:replace="fragments/header :: header('Trainee Management Portal','Trainee details')"></div>
<main>
<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">

            <h2>Trainee Details</h2>

        </div>

        <div class="card-body">

            <p>
                <strong>ID:</strong>
                <span th:text="${trainee.traineeId}"></span>
            </p>

            <p>
                <strong>Title:</strong>
                <span th:text="${trainee.traineeTitle}"></span>
            </p>

            <p>
                <strong>Name:</strong>
                <span th:text="${trainee.traineeName}"></span>
            </p>

            <p>
                <strong>Date of Birth:</strong>
                <span th:text="${trainee.traineeDob}"></span>
            </p>

            <p>
                <strong>Email:</strong>
                <span th:text="${trainee.traineeEmail}"></span>
            </p>

        </div>

        <div class="card-footer">

            <a th:href="@{/trainees}"
               class="btn btn-secondary">
                Back
            </a>

            <a sec:authorize="hasRole('TRAINER')"
               th:href="@{/trainees/{id}/edit(id=${trainee.traineeId})}"
               class="btn btn-warning">
                Edit
            </a>


        </div>

    </div>

</div>
</main>
<footer class="sparta-animated-bg">
    Sparta Academy Management System
</footer>
<script th:src="@{/js/handling.js}"></script>
</body>

</html>