<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Trainer Management Portal')"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header('Trainer Management Portal', 'Assign trainer to a course')"></div>
<main>
<div class="container mt-5">

    <h1 class="mb-4">Assign Trainer to a Course</h1>

    <form th:action="@{/enrollment/trainer/save}" th:object="${trainerDTO}" method="post">

        <div class="mb-3">
            <label class="form-label">Select Trainee</label>
            <select class="form-select" th:field="*{trainerId}" required>
                <option value="" disabled selected>-- Choose a Trainer --</option>
                <option th:each="trainer : ${trainers}"
                        th:value="${trainer.trainerId}"
                        th:text="${trainer.trainerName}">Trainer Name</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Select Course</label>
            <select class="form-select" name="courseId" required>
                <option value="" disabled selected>-- Choose a Course --</option>
                <option th:each="course : ${courses}"
                        th:value="${course.courseId}"
                        th:text="${course.courseName}">Course Name</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Assign</button>
        <a th:href="@{/courses}" class="btn btn-secondary">Cancel</a>

    </form>

</div>
</main>
<footer class="sparta-animated-bg">
    Sparta Academy Management System
</footer>
<script th:src="@{/js/handling.js}"></script>
</body>
</html>