<header th:fragment="header(title, subtitle)" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <nav class="sparta-animated-bg" >
        <div style="display:flex; align-items:center; gap:20px;">
            <h1>Sparta Global</h1>
            <a sec:authorize="hasRole('TRAINEE')">
                Welcome <span sec:authentication="principal.username"></span>, Sparta Trainee
            </a>
            <a sec:authorize="hasRole('TRAINER')">
                Welcome <span sec:authentication="principal.username"></span>, Sparta Trainer
            </a>
        </div>

        <ul>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/trainees}">Trainees</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/trainers/view}">Trainers</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/courses}">Courses</a></li>
            <li sec:authorize="isAuthenticated()">
               <a th:href="@{/logout}" id="logout">Logout</a>
        </li>
        </ul>

    </nav>

    <section class="hero"><div class="hero-content">
        <h2 th:text="${title}"></h2>
        <p th:text="${subtitle}"></p>
    </div></section>
</header>