   <header xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <nav class="sparta-animated-bg" >

        <h1>Sparta Academy</h1>

        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/trainees}">Trainees</a></li>
            <li><a th:href="@{/trainers/view}">Trainers</a></li>
            <li><a th:href="@{/courses}">Courses</a></li>
        </ul>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-light btn-sm">Logout</button>
        </form>

    </nav>
</header>