<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Trainer Management Portal')"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header(
    'Trainer Management Portal',
    'Manage and search through trainers')"></div>

<main>

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1>All Trainers</h1>

        <a class="btn btn-primary"
           th:href="@{/trainers/new}" sec:authorize="hasRole('TRAINER')">
            Add Trainer
        </a>

        <a class="btn btn-success"
           sec:authorize="hasRole('TRAINER')"
           th:href="@{/enrollment/trainer/new}">
            Assign Trainer to Course
        </a>

    </div>
    <form th:action="@{/trainers/search}" method="get">
        <input type="text" name="name" placeholder="Search trainers...">
        <button type="submit">Search</button>
    </form>

    <table class="table table-bordered table-hover bg-white">

        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="t : ${trainers}">

            <td th:text="${t.trainerId}"></td>

            <td th:text="${t.trainerTitle}"></td>

            <td th:text="${t.trainerName}"></td>

            <td th:text="${t.trainerDob}"></td>

            <td th:text="${t.trainerEmail}"></td>

            <td>
                <span th:each="course : ${t.courses}"
                      th:text="${course.courseName} + ' '"></span>
            </td>

            <td sec:authorize="hasRole('TRAINER')">

                <a class="btn btn-sm btn-info"
                   th:href="@{/trainers/{id}(id=${t.trainerId})}">
                    View
                </a>

                <a class="btn btn-sm btn-warning"
                   th:href="@{/trainers/{id}/edit(id=${t.trainerId})}">
                    Edit
                </a>

                <form th:action="@{/trainers/{id}/delete(id=${t.trainerId})}"
                      method="post"
                      class="d-inline">

                    <button type="submit"
                            class="btn btn-sm btn-danger delete">
                        Delete
                    </button>

                </form>

            </td>

        </tr>

        </tbody>

    </table>

</div>
</main>
<footer class="sparta-animated-bg">
    Sparta Academy Management System
</footer>
<script th:src="@{/js/handling.js}"></script>

</body>

</html>