<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: head('New Trainer')"></head>

<body class="bg-light">
<div th:replace="fragments/header :: header('Trainer Management Portal','Create New Trainer')"></div>
<main>
<div class="container mt-5">

    <h1 class="mb-4">Create New Trainer</h1>

    <form th:action="@{/trainers/save}"
          th:object="${trainer}"
          method="post">

        <div class="mb-3">

            <label class="form-label">Title</label>

            <input type="text"
                   class="form-control"
                   th:field="*{trainerTitle}"
                   required>

        </div>

        <div class="mb-3">

            <label class="form-label">Name</label>

            <input type="text"
                   class="form-control"
                   th:field="*{trainerName}"
                   required>

        </div>

        <div class="mb-3">

            <label class="form-label">Date of Birth</label>

            <input type="date"
                   class="form-control"
                   th:field="*{trainerDob}"
                   required>

        </div>

        <div class="mb-3">

            <label class="form-label">Email</label>

            <input type="email"
                   class="form-control"
                   th:field="*{trainerEmail}"
                   required>

        </div>

        <button type="submit"
                class="btn btn-success">
            Save
        </button>

        <a th:href="@{/trainers/view}"
           class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>
</main>
<footer class="sparta-animated-bg">
    Sparta Academy Management System
</footer>
<script th:src="@{/js/handling.js}"></script>
</body>

</html>